<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

    $( "span#upload" ).click(function() {
      $( "div#selection_pre" ).hide();
    $( "div#upload_pre" ).show();
    });

    $( "span#select" ).click(function() {
      $( "div#upload_pre" ).hide();
    $( "div#selection_pre" ).show();
    });

</script>

<div>
  	<%= form_for @webnair, :remote => true, :html => { :multipart => true } do |f| %>
    <div>
    	<%= f.hidden_field :user_id, :value => current_user.id %>
      	<%= f.label :title, :style => 'margin: 20px 0 -7px 0px'  %>
      	<%= f.text_field :title, autofocus: true, :style => 'margin: -20px 112px 0' %>
    </div>
    <div>
      <%= f.label :description, :style => 'margin: 20px 0 -7px 0px' %>
      <%= f.text_area :description, autofocus: true, :style => 'margin: -29px 113px 0; height: 125px;'  %>
    </div>
    	
      <div><%#= select_date Date.today, prefix: :start_date %></div>
      
      <div style="margin:1% 0">
        <%= f.label :choose  %>
    		<span id="upload">
          <%= f.radio_button :choice, "draft" %>
          <%= f.label :choice, "New Presentation", :value => "draft", :style => 'margin: -18px 25px 0' %>
        </span>
        <span id="select">
      	<%= f.radio_button :choice, "draft1" %>
        <%= f.label :choice, "Select Presentation", :value => "draft1", :style => 'margin: -18px 25px 0' %>
      </span>
  	</div>

      <div id="upload_pre" style="display: none; margin: 1%">
        <%= f.file_field :ppt %>
      </div>
      <div id="selection_pre" style="display: none; margin: 1%">
	      <%= select_tag :avatar, options_for_select(current_user.presentations.collect {|s| [s.avatar_file_name,s.id]})  %>
      </div>
      <div id="demo">

      </div>
    
    <%= f.submit :class=> "btn btn-default", :style =>'margin: 1% 0' %>
  <% end %>
</div>
