	<!-- <p> Hello <%= @email %> Welcome To Beat Bucks !</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', user_confirmation_url( :confirmation_token => @token) %></p>
 -->



<body>


<table width="96%" border="0" cellspacing="0" cellpadding="7" align="center">
  <tr style="border-bottom:solid 1px #d2d2d2;">
    <td width="48%"> <%= image_tag ("http://cosgreenspace.wpengine.netdna-cdn.com/wp-content/uploads/2013/07/FreshBucks_Logo.jpg"),:style => "max-width:35%; height:35px;border 1px solid #00000; padding:2px"  %> </td>
    <td width="52%" style="font:normal 18px Verdana, Helvetica, sans-serif; color:#444; text-align:right;">New Registration</td>
  </tr>
  <tr>
    <td colspan="2" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;"> Dear 
    	<%= @resource.Firstname%> Thanks for joining Beatbucks!<br /> To finish your registration, there is one more quick step: Please Click the 'Confirm my account' Link Below	</td>
  </tr>
  
  <tr>
    <td colspan="2"> <%= link_to 'Confirm my account', user_confirmation_url( :confirmation_token => @token) %></td>
  </tr>
  <tr>
    <td colspan="2" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;">Once verified, you'll be all set to start using Beatbucks.</td>
  </tr>
  <tr>
    <td colspan="2" style="font:normal 14px Verdana, Geneva, sans-serif; color:#444;">Sincerely,<br />Beatbucks Team <br /><a href="#" style="font:normal 14px Arial, Helvetica, sans-serif; color:#0088CC;">www.beatbucks.com</a></td>
  </tr>
  <tr>
    <td colspan="2">
    	<table width="100%" border="0" cellspacing="0" cellpadding="7" style="border-top:dashed 1px #d2d2d2;">
          <tr>
            <td width="31%"><a href="#" style="font:normal 11px Verdana, Helvetica, sans-serif; color:#c9c9c9; text-decoration:underline; border-right:dolid 1px #c9c9c9; padding:0 10px 0 0;">Help</a> <a href="#" style="font:normal 11px Verdana, Helvetica, sans-serif; color:#c9c9c9; text-decoration:underline; padding:0 0 0 10px;">Contact us</a></td>
            <td width="27%" style="font:normal 11px Verdana, Helvetica, sans-serif; text-align:center; color:#c9c9c9;">Please do not reply to this email.</td>
            <td width="42%" align="right"><%= image_tag ("http://www.flyte.biz/wp-content/uploads/2012/11/facebook-147.png"),:style => "max-width:35%; height:35px;border 1px solid #00000; padding:2px"  %> <%= image_tag ("http://www.flyte.biz/wp-content/uploads/2012/11/facebook-149.png"),:style => "max-width:35%; height:35px;border 1px solid #00000; padding:2px"  %>   <%= image_tag ("http://www.flyte.biz/wp-content/uploads/2012/11/facebook-148.png"),:style => "max-width:35%; height:35px;border 1px solid #00000; padding:2px"  %> </td>
          </tr>
        </table>

    </td>
  </tr>
</table>
